*
{
    box-sizing: border-box;
}
.header
{
    text-align:center;
}
body
{
    background-color: #F0DCCA;
    display: flex;
    flex-direction:column;
    min-width: 100%;
    padding:30px;
    
}
.label-Waifu
{
    display: absolute;
    margin-left:0;
}
.input-waifu
{
    float:right;
    width:85%;
    margin-right: 1rem;
}
.label-jenis
{
    display: absolute;
    margin-left:0;
}
.box-jenis
{
    float:right;
    width:85%;
    margin-right: 1rem;
}
.button
{
    display:flex;
    justify-content:center;
    
    
}

.text-area
{
    width: 99%;
    padding: 1em; /* adjust value  to suit  */
    box-sizing: border-box;
    resize: vertical; 
}
.footer
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;  
    text-align: center;
}

@media only screen and (max-width: 700px) {
    .input-waifu{
        width:50%
    }
    .box-jenis {
        width:50%
    }
    .text-area
    {
        width: 96%;
    }
  }