*
{
    box-sizing: border-box;
}
.header
{
    text-align:center;
    color: #3a8f82;
    font-weight:bold;
    
}
body
{
    background-color:#28112B;
    display: flex;
    flex-direction:column;
    min-width: 100%;
    padding:30px;
    color: #8DAA91;
    margin:0;
    margin-bottom:10px;
    
}
.box-container {
    background-color:#453643; 
    padding: 10;
    min-height: 100%;
    display: flex;
    flex-direction:column;
}
.label-Waifu
{
    display: absolute;
    
}
.input-waifu
{
    float:right;
    width:85%;
    background-color:#28112B;
    color: #8DAA91;
    
}
.label-jenis
{
    display: absolute;
    
}
.box-jenis
{
    float:right;
    width:85%;
    background-color:#28112B;
    color: #8DAA91;
    
}
.button
{
    display:flex;
    justify-content:center;
    
    
}

.text-area
{
    min-width:100%;
    box-sizing: border-box;
    resize: vertical; 
    background-color:#28112B;
    
    color: #8DAA91;
}
.footer
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;  
    text-align: center;
    color: #F8F8F8;
    
}

@media only screen and (max-width: 700px) {
    .input-waifu{
        width:60%
    }
    .box-jenis {
        width:60%
    }
    
  }